<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <link rel="icon" th:href="@{/static/images/favicon.ico}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>

        <!-- Scripts -->
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <meta charset="UTF-8">
        <title>Change Properies</title>
    </head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h5>Here you can change the properties of the processor</h5>
                </div>
                <div class="panel-body">
                    <form action="/web/changeProperties.do" method="post" th:object="${fineFactorChangeDTO}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text"
                                           th:field="*{emissionfinefactor}" class="form-control input-sm"
                                           placeholder="EmissionFactor" tabindex="1">
                                    <input type="text"
                                           th:field="*{speedfinefactor}" class="form-control input-sm"
                                           placeholder="SpeedFactor" tabindex="1">
                                    <input type="text"
                                           th:field="*{emissionTime}" class="form-control input-sm"
                                           placeholder="Time between fines (Emission)" tabindex="1">
                                    <input type="text"
                                           th:field="*{timeframeSnelheid}" class="form-control input-sm"
                                           placeholder="Time for buffered messages" tabindex="1">
                                    <input type="text"
                                           th:field="*{maxretries}" class="form-control input-sm"
                                           placeholder="Max Retries in case of fail" tabindex="1">
                                    <input type="text"
                                           th:field="*{retrydelay}" class="form-control input-sm"
                                           placeholder="Time between retries" tabindex="1">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="submit" value="send" class="btn btn-primary btn-block btn-sm"
                                       tabindex="2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>