<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="icon" th:href="@{/static/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>

    <!-- Scripts -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Properties</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Property Name</th>
        <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>SpeedFineFactor : </td>
        <td th:text="${propertiesModel.speedfinefactor}">$</td>
    </tr>
    <tr>
        <td>EmissionFineFactor : </td>
        <td th:text="${propertiesModel.emissionfinefactor}">$</td>
    </tr>
    <tr>
        <td>Time between emission fines : </td>
        <td th:text="${propertiesModel.emissionTime}">$ millis</td>
    </tr>
    <tr>
        <td>Time for buffered messages (SpeedFine) : </td>
        <td th:text="${propertiesModel.timeframeSnelheid}">$ millis</td>
    </tr>
    <tr>
        <td>Time between retries : </td>
        <td th:text="${propertiesModel.retrydelay}">$ millis</td>
    </tr>
    </tbody>
    <tr>
        <td>Max amount of retries before giving up : </td>
        <td th:text="${propertiesModel.maxretries}">$ retries</td>
    </tr>
</table>
<a href="/web/changeProperties" class="btn btn-primary btn-block btn-sm"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Change Properties</a>
</body>
</html>